
$family-sans-serif: "Arial", sans-serif;
* {
  margin: 0;
  font-family: $family-sans-serif;
  color: #045933;
}

body {
  background-color: white;
}

$theme-colors: (
    "primary": #66da43
);

@import '~bootstrap/scss/bootstrap.scss';

// .container {
//   max-width: max-content;
//   max-height: max-content;

// }




