.topHeader {
    background-color: #14760E;
}

.textBlack {
    color: black;
}

.bottomHeader {
    color: #11660C;
    background-color: whitesmoke;
}

.navbar-brand  {
    color: #045933;
}

.navbar-brand:hover  {
    color: #045933;
}